
<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/Content/flipclock.css" rel="stylesheet" />
    <link href="~/Content/style.css" rel="stylesheet" />

</head>
<body>

    <div id="box">
        <div id="content">
            <div class="clock" id="flipclock"></div>
            <h2 class="date" id='ShowMessage'></h2>
        </div>
    </div>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/flipclock.js"></script>
    <script type="text/javascript">
        // mobile
        if (/Android|webOS|iPhone|iPod|BlackBerry/i.test(navigator.userAgent)) {
            document.getElementById('flipclock').setAttribute("style", "zoom:1.5;");
            document.getElementById('ShowMessage').setAttribute("style", "zoom:1.5;");
        }

        var clock;

        $(document).ready(function () {
            clock = $('.clock').FlipClock({
                clockFace: 'TwelveHourClock',
                showSeconds: false
            });
        });

        var date1 = '@ViewBag.StartTime';  //开始时间

        function show_date_time() {
            window.setTimeout("show_date_time()", 1000);
            var date2 = new Date();
            timeold = date2.getTime() - new Date(date1).getTime();;
            sectimeold = timeold / 1000
            secondsold = Math.floor(sectimeold);
            msPerDay = 24 * 60 * 60 * 1000
            e_daysold = timeold / msPerDay
            daysold = Math.floor(e_daysold);
            e_hrsold = (e_daysold - daysold) * 24;
            hrsold = Math.floor(e_hrsold);
            e_minsold = (e_hrsold - hrsold) * 60;
            minsold = Math.floor((e_hrsold - hrsold) * 60);
            seconds = Math.floor((e_minsold - minsold) * 60);
            document.getElementById('ShowMessage').innerHTML = "我已经运行了 - " + daysold + " 天 " + hrsold + " 小时 " + minsold + " 分 " + seconds + " 秒 ";
        }
        show_date_time();

    </script>

</body>
</html>
